
 body {
     background-image: url("sunset.jpeg");
     background-size: cover;
 }

 .navigation-bar {
     background-image: url("fall.jpg");
     display: flex;
 }

 .menu ul {
     display: flex;
     font-size: 2.4rem;
     
          
 }
 .menu ul li {
    text-decoration: none;
    list-style: none;
    margin: 0px 15px 0px 15px;
 }
 .menu ul li a {
     text-decoration: none;
     color: wheat;
     
 }
 
 footer {
     background: linear-gradient(to bottom, orange,white);
     padding: 15px;
     font-size: 26px;
     text-align: center;
     color: green;
     font-weight: bolder;
     
 }

 .body_intro {
     display: flex;
    
 }
 
 .gap {
     padding: 10px;
     flex: 1;
 }

 .services {
     /* flex: 2; */
     color: rgb(255, 255, 255);
    font-size: 1.9rem;
    background: linear-gradient(to top, darkgrey, transparent);
    font-weight: 900;
     }

 .services h3{
     font-size: 2.6rem;
     text-align: center;

 }
 .body_intro1{
     font-size: 1.2rem;
 }

 .body_intro1 h3 {
     text-align: center;
     color: green;
     font-size: 1.8rem;
 }
 .team h3{
     color: green;
     font-size: 2.3rem;
     text-align: center;
     font-weight: 900;
     background: linear-gradient(to bottom, wheat, transparent);
 }

 .end {
     display: flex;
     justify-content: space-evenly;
     
     
 }
 form{
     font-size: 2.5rem;
     color: green;
     padding: 25px;
     width: 650px;
 }

 form input  {
     padding: 15px;
     width: 100%;
 }
 .city img{
    height: 500px;
    width: 600px;
 }

 .travel img{
     height: 500px;
     width: 600px;
 }

form input textarea{
    height: 100px;
}