.menu,ul,li{
    display: flex;
    text-decoration: none;
    padding: 20px;    
    justify-content: space-evenly;
    background-image: url('4.jpg');        
}
 
 li,a {
     text-decoration: none;
     color:gold;
     font-size: 1.5em;
     font-weight: 900;
    
         
 }

 .content {
     background-image: url('1.jpeg');
     background-size: 100% 100%;
     padding: 10px;
     height: 100vh;
    
         
 }

 .bio {
     color: wheat;
     font-size: 2.4rem;
     background-color: rgba(0, 0, 0, 0.5);
     text-align: center;
     
    
 }
 h1 {
     background-color: rgba(0, 0, 0, 0.5);
     padding: 20px;
     color: whitesmoke;
     font-size: 4.5rem;
     text-align: center;
 }

 .ad {
     font-size: 1.5rem;
     background-image: url('3.jpg');
     background-size: 100% 100%;
     padding: 50px;
     height: fit-content;
     border-radius: 20px;
 }

 .ct {
     font-size: 1.5rem;
     background-image: url('6.jpeg');
     background-size: 100% 100%;
     padding: 50px;
     height: fit-content;
     border-radius: 20px;
 }
  .tr {
    font-size: 1.5rem;
    background-image: url('7.jpg');
    background-size: 100% 100%;
    padding: 50px;
    height: fit-content;
    border-radius: 20px;
  }

 p{
     color: rgb(26, 159, 192);
 }

 .form1 {
     color: rgb(201, 184, 33);
     font-weight: 900;
     font-size: 1.1rem;
     text-align: center;
     padding: 3px;
 }

 .topics {
     display: flex;
     justify-content: space-evenly;
     color: yellow;
     text-align: center;
     font-size: 1.5rem;
 }
 
 footer{
     background-color: rgba(0, 0, 0, 0.418);
     text-align: center;
    font-size: 2.1rem;
 }